<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing_duration.name %>
</p>

<%= link_to 'Edit', edit_listing_duration_path(@listing_duration) %> |
<%= link_to 'Back', listing_durations_path %>
