<div class="container">
  <h2><%=@user.email%></h2>
   <ol class="breadcrumb">
    <li><a href="/">Home</a></li>  
    <li><a href="/">users</a></li>  
    <li class="active"><%=@user.name%></li>
  </ol>        
 
 <p>Access</p>
 <hr>
 <div class="row">
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  
</div>